main{
    margin: 50px;
}
#txt_item{
    border-radius: 10px;
    height: 25px;
    padding: 0px 15px;
    margin: 0px 20px;
}

#btn_add{
    font-size: 20px;
}

#myList{
    margin: 100px 0px;
    display: grid;
    grid-template-columns: 30px 300px 30px;
    text-align: center;
    line-height: 30px;
}

.chbox{
    transform: scale(2);
}

.btnCompleted{
    transform: scale(0.8);
}