/* First Login Page*/

body{
	background-image: url('../images/bg_pokemon_1.jpg');
	background-repeat: round;
	
}

span{
	font-size: 20px;
	font-weight: bold;
}

#sessionPlayer button{
	padding: 10px;
	border-radius: 10px;
	font-weight: bold;
}

#content-firstLogin{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#lbl_name{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

#txt_name{
    width: 200px;
    border-radius: 10px;
    height: 25px;
    padding: 0px 15px;
}
#content-firstLogin img{
    width: 30%;
}

.btn_submit{
    margin: 20px;
    font-size: 15px;
    border-radius: 10px;
}

.btn_submit:hover{
    background-color: rgb(208, 243, 230);
}


/* End First Login Page*/




/* Main Login Page*/

#pokedex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-pokedex{
	width: 300px;
}

#welcome_mainPage{
    text-align: center;
}

.card {
	list-style: none;
	padding: 40px;
    margin: 20px;
	color: #222;
	text-align: center;
	border-radius: 20px;
	position: relative;
}


.card::after {
	content: "";
  display: block;
  width: 50%;
  height: 45%;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0);
  opacity: .7;
  position: absolute;
  top: 15%;
  left: 25%;
}

.steel {
	background-color: #f4f4f4;
}

.fire {
	background-color: #FDDFDF;
}

.grass {
	background-color: #DEFDE0;
}

.electric {
	background-color: #FCF7DE;
}

.water, .ice {
	background-color: #DEF3FD;
}

.ground {
	background-color: #f4e7da;
}

.rock {
	background-color: #d5d5d4;
}

.fairy {
	background-color: #fceaff;
}

.poison {
	background-color: #98d7a5;
}

.bug {
	background-color: #f8d5a3;
}

.dragon {
	background-color: #97b3e6;
}

.psychic {
	background-color: #eaeda1;
}

.flying {
	background-color: #F5F5F5;
}

.fighting {
	background-color: #E6E0D4;
}

.normal {
	background-color: #F5F5F5;
}

.card:hover {
	animation: bounce 0.5s linear;
}

.card-title {
	text-transform: capitalize;
	margin-bottom: 0px;
	font-size: 32px;
	font-weight: normal;
	position: relative;
	z-index: 2;
}

.card-subtitle {
	margin-top: 5px;
	color: #666;
	font-weight: lighter;
	position: relative;
	z-index: 2;
}

.card-image {
	height: 180px;
	position: relative;
	z-index: 2;
}

@keyframes bounce {
	20% {
			transform: translateY(-6px);
	}
	40% {
			transform: translateY(0px);
	}

	80% {
			transform: translateY(-2px);
	}
	100% {
			transform: translateY(0);
	}
}


.main-pokedex a{
	font-size: 20px;
	margin: 0px 30px;
	padding: 15px;
	background-color: #bae208;
	border-radius: 10px;
}

/* End Main Login Page*/

/* Battle Page */

.inputLikePokemon{
	width: 70px;
	border-radius: 10px;
	margin: 5px;
	text-align: center;
}

#barExp{
	width: 70px;
	border-radius: 10px;
	margin: 5px;
	text-align: center;

}

/* End Battle Page*/