svg {
  width: 200px;
  height: 150px;
  background: #eee;
  display: block;
}

button {
  margin-top: 10px;
  display: inline-block;
}

.red  {
  fill: red;
}

#div1 {
  width: 350px;
  height: 70px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}